@import '_reset.css';
@import '_fonts.css';

:root {
    --CBlack: #000000;
    --Cwhite: #ffffff;
    --CBlue: #002E72;
    --CBlue2: #0066FF;
    --CFucia: #E7004C;
    --CYellow: #FFB71B;
    --CHelp1: #0066FF;
    --CHelp2: #FFB71B;
    --CDarkgray: #474747;
    --Clightgray: #c7c7c7;
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
}

button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.btn-inc-fucia {
    color: var(--Cwhite);
    background-color: var(--CFucia);
    padding: 0.1rem 2rem;
}

#btn-a11y em {
    display: none;
}


.container-inc {
    display: grid;
    grid-template: 50px 62px 100vh 340px / 250px 55px 1fr minmax(5px, 1fr);
    height: 100vh;
    justify-items: strech;
}

.item-inc {
    padding: 1.2rem;
}

/* Header */
.header-inc {
    background-color: var(--CBlue);
    color: var(--Cwhite);
    grid-column: 1 / span 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-inc h1 {
    font-weight: 700;
    font-size: 1.2rem;
}

/* Header Botón menú */
.header-inc span {
    cursor: pointer;
}

/* Navegacion */
.nav-inc {
    background-color: var(--Cwhite);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    grid-row: 2 / span 2;
    padding: 0;
}

.nav-inc ul li {
    border-bottom: .09rem solid var(--CBlue2);
    padding: .6rem 1rem;
}

.nav-inc ul li:hover {
    background-color: var(--CFucia);
    color: var(--Cwhite);
    cursor: pointer;
}

.nav-inc ul li strong {
    display: block;
    font-weight: bold;
    line-height: 160%;
}

.nav-inc ul li small {
    font-size: .9rem;
}

.nav-item-inc {
    border-bottom: .09rem solid var(--CYellow) !important;
}

/* Texto de ayuda */
.help-text-inc {
    grid-column: 2 / span 4;
    text-transform: uppercase;
    font-weight: 700;
    background-color: var(--CHelp1);
    color: var(--Cwhite);
    display: flex;
    align-items: center;
}

.yellow {
    background-color: var(--CHelp2);
    color: var(--CBlack);
}

/* Contenido */
.content-inc {
    /* background-color: lightsalmon; */
    grid-column: 2 / span 4;
    overflow: auto;
    padding: 1rem 1.5rem;
}

/* Subgrid */
.subgrid {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 450px;

}

.title-inc {
    padding-right: 1.5rem;
}

.encabezado-inc {
    display: flex;
    align-items: center;
}

.ficha {
    border: 1px solid red;
    display: inline-block;
    padding: .2rem 2rem;
    border-radius: 5px;
    border: 3px solid var(--CBlue2);
    color: var(--CBlue2);
    font-size: 2.2rem;
    font-weight: 700;
}

.tooltip-inc {
    display: flex !important;
    align-items: center;
    margin-left: .5rem;
    display: inline-block;
    color: var(--CBlue2);
    cursor: pointer;
}


.tooltip-expand {
    display: none;
    border-radius: 5px;
    font-size: .9rem;
    line-height: 1.4;
    background-color: var(--CDarkgray);
    color: var(--Cwhite);
    margin-left: 1rem;
    padding: .4rem 2rem;
}

.tooltip-inc:hover .tooltip-expand {
    display: block;
}

.title-name-inc {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1.5rem 0rem;
}

.text-intern-inc {
    font-size: 1rem;
    line-height: 160%;
}

.checklist-inc {
    margin: 1.2rem 0rem;
    border: 1px solid var(--Clightgray);
    border-radius: 6px;
}

.checklist-head {
    padding: 1rem;
    background-color: var(--CHelp1);
    color: var(--Cwhite);
    font-weight: 700;
    border-radius: 5px 5px 0px 0px;
    font-size: 1.2rem;
}

.checklist-content {
    padding: 1rem 1.5rem;
}

.checklist-content ul {
    list-style: disc;
    padding-left: 2%;
}

.checklist-content ul li {
    line-height: 180%;
}

.img-inc {
    margin-bottom: 1.2rem;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-inc img {
    width: 90%;
}

.carousel-inc {
    grid-column: 1 / span 2;
}

.title-carousel-inc {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1.5rem 0rem;
}

.title-carousel-inc small {
    font-size: 1rem;
    font-weight: 300;
}

.scroll-content-inc {
    margin: 1.5rem 0rem;
    /* border: 1px solid red; */
}


.scroll-card-inc {
    display: inline-block;
    border: 1px solid var(--Clightgray);
    width: 230px;
}


.scroll-card-img {
    padding: 0rem 1rem;
}

.scroll-card-img img {
    padding: 1rem 2.5rem;
    width: 150px;
    width: 100%;

}

.scroll-title-inc {
    border-top: 1px solid var(--Clightgray);
    padding: 10px;
    font-weight: 700;
    line-height: 1.6;
}

.scroll-color-box-1 {
    padding: 10px;
    background-color: var(--CBlue2);
}

.scroll-color-box-2 {
    padding: 10px;
    background-color: var(--CYellow);
}

.conven-box-inc {
    margin-top: .5rem;
    display: flex;
}

.conven-item {
    padding: .4rem .6rem;
    display: flex;
    align-items: center;
}

.conven-item:first-child {
    padding: .4rem 0rem;
}

.color-conven {
    background-color: var(--CBlue2);
    padding: .8rem;
    border-radius: 50%;
}

.conven-item p {
    margin-left: 8px;
}



.summ-inc {
    grid-column: 1 / span 2;
}

.title-summ {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.text-summ {
    line-height: 160%;
    padding: .5rem 0rem;
}

.guide-page {}

.text-guide {
    padding: 1.2rem;
    font-weight: 700;
    text-align: center;
}

.buttons-guide {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 0rem;
}





/* Footer */
.footer-inc {
    background-color: lightsalmon;
    grid-column: 1 / span 4;
}


@media screen and (max-width:1110px) {
    .container-inc {
        display: grid;
        grid-template: 50px 55px 100vh 340px / 1fr 1fr 1fr 1fr;
        height: 100vh;
        justify-items: strech;
    }

    .btn-inc-fucia {
        color: var(--Cwhite);
        background-color: var(--CFucia);
        padding: 0.1rem 1rem;
    }

    #btn-a11y em {
        display: block;
    }

    #btn-a11y span {
        display: none;
    }

    .item-inc {
        padding: 10px;
    }

    /* Header */
    .header-inc {
        grid-column: 1 / span 4;
    }

    /* Navegacion */
    .nav-inc {
        display: none;
    }

    /* Texto de ayuda */
    .help-text-inc {
        grid-column: 1 / span 4;
    }

    /* Toogle Classes */
    .show-ico {
        display: block;
        padding: 0;
        grid-column: 1 / span 4;
    }

    .none-ico {
        display: none !important;
    }


    /* Contenido */
    .content-inc {
        grid-column: 1 / span 4;
    }

    .subgrid {
        display: grid;
        grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
    }

    .title-inc {
        grid-column: 1 / span 3;
    }

    .img-inc {
        grid-column: 1 / span 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .carousel-inc {
        grid-column: 1 / span 3;
    }

    .summ-inc {
        grid-column: 1 / span 3;
    }

    /* Carousel */
    .footer-inc {
        background-color: lightsalmon;
        grid-column: 1 / span 4;
    }

    /* Glosario */
    .item:nth-of-type(6) {
        background-color: lightsalmon;
        grid-column: 2 / span 2;
    }

    /* Footer */
    .item:nth-of-type(7) {
        background-color: lightgreen;
        grid-column: 1 / span 3;
        align-self: end;
    }
}